[2017-03-31 06:28] schmaluk opened #2 "Deploying OBEU-stack locally"
Hi @wk0206 ,
let me know if you can run OBEU locally in case you wish to do that. Updated Readme for the local installation.

For me it seems to work now.

[2017-03-31 06:45] schmaluk commented on #2
For importing datasets into your local Virtuoso, you can download the datasets from here for example:
http://eis-openbudgets.iais.fraunhofer.de/dumps/Aragon/
http://eis-openbudgets.iais.fraunhofer.de/dumps/auxiliary-data/
http://eis-openbudgets.iais.fraunhofer.de/dumps/data-model/
http://eis-openbudgets.iais.fraunhofer.de/dumps/greek-municipalities/
and put them into your ./volumes/virtuosoStaging

[2017-04-05 14:37] wk0206 commented on #2
thank you @mlukasch, most of the system run smoothly,

- Indigo is OK, but have to downgrade typescirpt to 2.1.4 to compile with issue
https://github.com/okgreece/indigo/issues/5#issuecomment-291829751

- a little spell mistake at README,
    - Mirosite: http://local,micro
should be http://local.micro

- linkpiple run on http://localhost:8181 instead of port 8080

- Rudolf report some error

I wil

[2017-05-15 19:04] skarampatakis opened #3 "Triplestore empty"
Hi @liyakun,
Are you updating the triplestore?
It seems to be empty.

http://data.openbudgets.eu/sparql?default-graph-uri=&query=select+distinct+%3Fgraph+where+%7BGRAPH+%3Fgraph+%7B%3Fs+%3Fp+%3Fo%7D%7D&format=text%2Fhtml&timeout=0&debug=on

![image](https://cloud.githubusercontent.com/assets/2419820/26074484/a81d9f40-39ba-11e7-8278-8019c987a4c3.png)

[2017-05-15 20:25] liyakun commented on #3
Hi @skarampatakis
Yes, there is a query problem between rudolf and "virtuoso staging", then I changed it to connect "virtuoso production" to see where the problem happens.

[2017-05-15 20:33] skarampatakis commented on #3
Do you want any help on this? When will you revert the change?

[2017-05-15 20:36] liyakun commented on #3
@skarampatakis it would be great if you can help, i really appreciate.
You can see the problem when you access "http://eis-openbudgets.iais.fraunhofer.de/search/package". It seems like a problem of Virtuoso setting. Do you have any idea?

I will most likely going to revert it tomorrow, as it still has the same problem as using "Virtuoso staging".

@larjohn Do you have any idea about this query pro

[2017-05-15 20:52] skarampatakis commented on #3
It seems to be an unresolved Virtuoso issue, as seen here
https://github.com/openlink/virtuoso-opensource/issues/371

And

https://github.com/openlink/virtuoso-opensource/issues/118

Perhaps @jakubklimek could provide some info here as well.

Query recostruction is suggested as a temporal fix. I will look at it tommorow. Possibly some values on the binds.

[2017-05-15 20:59] liyakun commented on #3
Okay, thanks. At first, with the "Virtuoso staging" version, it has "Virtuoso 42000 Error The estimated execution time ****** (sec) exceeds the limit of 600 (sec)." Then I comment out the max estimated execution time of the "Virtuoso staging". Afterwards, there is an error regarding to the "number of results" exceeding the limit. I can post more detail tomorrow after switching to the staging versi

[2017-05-16 08:15] skarampatakis commented on #3
I have checked the query. It seems that by removing the "group by" it runs.

@larjohn what is the purpose of grouping on non aggregated data? What do you want to achieve?
[code]

[2017-05-16 08:30] skarampatakis commented on #3
Unless it is used somewhere I would suggest to remove/comment  https://github.com/openbudgets/rudolf/blob/master/app/Model/BabbageModelResult.php#L294

[2017-05-16 09:12] liyakun commented on #3
@skarampatakis thanks, I commented the "Group BY" on my forked rudolf repository, now it is working correctly.

[2017-05-20 10:52] #3 closed, assigned to nobody

[2017-06-08 09:50] #2 closed, assigned to wk0206, schmaluk

[2017-06-14 14:07] fathoni opened #4 "Bonn datasets empty visualization"
Bonn datasets are available in the [explorer ](http://eis-openbudgets.iais.fraunhofer.de/explorer/) but upon exploring this in the [viewer](http://eis-openbudgets.iais.fraunhofer.de/viewer/bonn-budget-2018__f1c5f), there is no data/visualization available. This can be a dataset issue, Rudolf or OS-Viewer. @larjohn , Could you have a look?

[2017-06-14 16:41] larjohn commented on #4
Trying the following query

[code]

returns an empty resultset, which is the reason it does not work.

[2017-06-22 10:28] fathoni commented on #4
The previous feedback has been taken into account. Component properties are now provided but still seems that there are problems with visualization. For example, Bonn dataset 2017 can be seen [here](http://eis-openbudgets.iais.fraunhofer.de/viewer/bonn-budget-2017__c9504?measure=%22amount.sum%22&groups%5B%5D=%22economicClassification.economicClassification%22&order=%22amount.sum%7Cdesc%22&visualiz

[2017-06-22 10:33] skarampatakis commented on #4
@fathoni probably related https://github.com/openbudgets/datasets/issues/84

[2017-06-28 12:47] fathoni commented on #4
Well, at least there is a [visualization ](http://apps.openbudgets.eu/viewer/bonn-budget-2022__293d8?measure=%22amount.sum%22&groups%5B%5D=%22administrativeClassification.notation%22&series%5B%5D=%22budgetPhase.budgetPhase%22&series%5B%5D=%22fiscalYear.notation%22&series%5B%5D=%22currency.currency%22&order=%22amount.sum%7Cdesc%22&visualizations%5B%5D=%22Radar%22&visualizations%5B%5D=%22Table%22&vi

[2017-07-04 13:40] #4 closed, assigned to fathoni

[2017-07-17 15:07] fathoni opened #5 "Inconsistent visualization on Viewer"
Both screenshots are from a similar [dataset](http://apps.openbudgets.eu/viewer/bonn-budget-2022-costCenter__ceed0?measure=%22amount.sum%22&groups%5B%5D=%22functionalClassification.notation%22&order=%22amount.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en), but captured from different browsers:

Firefox:
![image](https://user-images.githubusercontent.com/1597027/28274673-de724996-6b11-11

[2017-07-19 17:59] larjohn commented on #5
This also appeared on my browsers. It might have to do with some kind of cached file. I ctrl+f5 on the

http://apps.openbudgets.eu/api/3/cubes/bonn-budget-2022-costCenter__ceed0/aggregate?drilldown=functionalClassification.notation%7CfunctionalClassification.prefLabel&order=amount.sum:desc&pagesize=30

file and the output now seems consistent for me.

[2017-07-25 17:17] larjohn opened #6 "Virtuoso container fails to install Java 8 JRE"
I tried to build the server in an Ubuntu 16.04.2. The virtuoso container cannot be built because the installation of the JRE depends on the installation of another package which in turn depends on the installation of an old version of cacerts for Java.

I resolved it locally by using ppa:saiarcot895/myppa, as suggested [here ](https://askubuntu.com/questions/464755/how-to-install-openjdk-8-on-14-0

[2017-07-25 17:28] skarampatakis opened #7 "Alignment doesn't use Redis server"
Alignment doesn't use Redis server. I believe this https://github.com/openbudgets/integration/tree/master/docker-config/alignmentredis container can be safely removed.

[2017-07-25 19:30] larjohn opened #8 "Cannot build"
ERROR: Service 'landingpage' failed to build: Error: image openbudgets/landingpage:latest not found

[2017-07-26 14:09] liyakun commented on #8
@larjohn I think we are not going to use landingpage, so i commented it out from the prod.yml, this should also solve this issue.

[2017-07-26 14:09] #8 closed, assigned to nobody

[2017-07-27 05:48] skarampatakis opened #9 "Labels of hierarchies missing on OS Viewer"
![image](https://user-images.githubusercontent.com/2419820/28656046-4bf8e8f6-72a8-11e7-9819-76cde0743ab7.png)

the same happens for filters too as it can be seen.

http://apps.openbudgets.eu/viewer/europe-greece-municipality-thessaloniki-2016-revenue__c40a1?measure=%22amount.sum%22&groups%5B%5D=%22date.date%22&order=%22amount.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en

[2017-07-27 05:50] skarampatakis opened #10 "Organization or Currency should be hidden"
There is no meaning of having these on the hierarchies list from my point of view.
![image](https://user-images.githubusercontent.com/2419820/28656111-b18a538a-72a8-11e7-9892-5c5845670ece.png)

[2017-07-27 05:56] larjohn commented on #10
If you mean the dimensions with a single value, this has been discussed and decided about a year ago..

[2017-07-27 06:19] skarampatakis commented on #10
I do not recall such conversation or found any issue, but whatever...

[2017-07-27 06:19] #10 closed, assigned to nobody

[2017-07-27 09:19] larjohn commented on #10
https://github.com/openspending/openspending/issues/1055

[2017-07-27 09:32] skarampatakis commented on #10
I understand the posted issue as a completely different issue, but as I said it is a matter of perspective. If you think it is OK to be as is, let it be that way.

[2017-07-27 09:44] larjohn commented on #10
In order to resolve this issue we had aggreed to include all dataset-level dimensions in the results. This is a bit wrong perspective, but the alternative would be to hardcode the time dimension just for the viewer.

[2017-07-31 16:41] larjohn commented on #9
This is the expected behaviour, given the results of the following query:

[code]
I will have Rudolf provide the last part of the property URI as a label but this is not a solution.

@skarampatakis do you happen to know where codelists are loaded? We have missed this one (probably not only this) out...

[2017-07-31 18:27] skarampatakis commented on #9
This is a dataset coming from the FDP2RDF pipeline. Codelists are packed along with the dataset and the DSD. So I believe all of them are loaded on the triplestore at the time the dataset gets loaded. The dump of  this dataset can be found [here](http://apps.openbudgets.eu/dumps/fromfdp/europe-greece-municipality-thessaloniki-2016-revenue.nt) where you can confirm the above.

I believe that  the d

[2017-07-31 18:35] skarampatakis commented on #9
@marek-dudas could you check this?

[2017-08-02 14:06] marek-dudas commented on #9
I thought that what @skarampatakis proposes would be followed, i.e., using the label from the parent OBEU property. The pipeline currently does not output labels on dimensions, since at the time it was created, there were no dimension labels in FDP metadata. I can at least add dimension names as labels (i.e., what is now the end part of dimension URI, which comes from the name of the JSON property

[2017-08-02 17:16] larjohn commented on #9
If the new property is *any* different from the parent OBEU property, why shouldn't it have a label?

It is a single property, a single triple, it is not duplicate data. If it is redudancy to store a label about a _new_ property isn't it redudancy to define a new property at all? Why not use the same parent property if we can't describe how the child is different from the parent?

Disclaimer: we a

[2017-08-02 18:12] marek-dudas commented on #9
I will of course add the labels, there is no reason why not. I am just saying that I can use the dimension names from FDP, which are keys (or property names) in the JSON descriptor and does not look so nice (e.g. like ```administrative-classification```, or there is even ```unknown``` for unspecified dimensions). The result will be the same as using the last part of the property URI.

I have prepa

[2017-08-04 09:05] fathoni opened #12 "OpenSpending OS Viewer shows dimension's code instead of label"
OpenSpending OS Viewer shows code instead of label in treemap visualization. See [here](https://next.openspending.org/viewer/848b8e447d0dfc798a77ef4f3a7bbcbd:bonn-simplified-2017?measure=%22Plan2017.sum%22&groups%5B%5D=%22functional_classification_2.Produktbereich%22&order=%22Plan2017.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en) for example.

[2017-08-04 09:08] fathoni opened #13 "OS Viewer shows only one item of functional classification in tree map"
OpenSpending OS viewer shows incomplete code list as one single box in tree map visualization. See [here](https://next.openspending.org/viewer/848b8e447d0dfc798a77ef4f3a7bbcbd:bonn-simplified-2017?measure=%22Plan2017.sum%22&groups%5B%5D=%22functional_classification_2.Produktbereich%22&order=%22Plan2017.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en) for example.

[2017-08-07 16:45] marek-dudas commented on #9
So I updated the pipeline (both on github and FhG server), it should now add labels to dimension properties. Please let me know if you have any comments.

[2017-08-09 17:32] larjohn commented on #12
Look here:

https://openspending.org/api/3/cubes/848b8e447d0dfc798a77ef4f3a7bbcbd:bonn-simplified-2017/model

The label and the key properties both point to the same attribute. This is a data modelling issue, probably introduced when the dataset was uploaded. I am not familiar with the process, maybe someone else can help here.

[2017-08-09 17:41] larjohn commented on #13
I am not sure if this is expected in Babbage:

https://openspending.org/api/3/cubes/848b8e447d0dfc798a77ef4f3a7bbcbd:bonn-simplified-2017/aggregate?drilldown=functional_classification_2.Produktbereich&order=Plan2017.sum:desc&pagesize=30

The `"functional_classification_2.Produktbereich": "6" `pair in the summary is suspectible, and also the  `"_count": 98`.

Maybe @akariv can have a look on this?

[2017-08-09 18:12] akariv commented on #13
/cc @vitorbaptista

[2017-08-16 22:25] larjohn opened #14 "10k limit on Virtuoso"
While most of the datasets are only a couple of thousands rows big, there are the Bonn datasets that go over 10k maxing the Virtuoso configuration out.

Would you suggest to change the setting and provide the whole dataset link to the DAM app or keep the limit and paginate  in DAM?

[2017-08-21 13:04] liyakun commented on #7
@skarampatakis thanks, i commented out the redis server conf on the server.

[2017-08-21 13:04] #7 closed, assigned to liyakun

[2017-08-21 15:30] liyakun commented on #14
@larjohn sorry for the late in replying. I think it is okay to change the limit on the server currently if it is easier for your side, how do you think?

[2017-08-21 16:29] liyakun commented on #6
@larjohn thanks for reporting, the base image of the virtuoso container has been changed to ubuntu 16.04.

[2017-08-21 16:29] #6 closed, assigned to nobody

[2017-08-31 10:26] pwalsh commented on #13
Confirmed that I checked this now, and shared with the whole tech team. It looks like what we see here is exactly consistent with what was modelled in the [Fiscal Data Package](https://s3.amazonaws.com/datastore.openspending.org/848b8e447d0dfc798a77ef4f3a7bbcbd/bonn-simplified-2017/datapackage.json).

Next action is for @fathoni to remodel.

[2017-08-31 10:52] fathoni opened #16 "OS Packager Edit Interface does not show remapping UI"
@pwalsh Clicking the edit button on a particular data set within Packager admin does not lead to a page with re-mapping. See screenshot below:

![image](https://user-images.githubusercontent.com/1597027/29919797-1046f71c-8e4b-11e7-87ec-2ae0b9c43935.png)

Seems that there is a problem with the login as well since my login from the admin page is not retained.

[2017-08-31 10:53] fathoni commented on #13
@pwalsh I have [this](https://github.com/openbudgets/integration/issues/16) problem upon attempting to redo the mapping on the OS packager.

[2017-08-31 10:54] pwalsh commented on #16
@vitorbaptista can you check?

[2017-08-31 11:32] fathoni commented on #13
I may have misunderstood @pwalsh 's comment regarding the mapping. I think the mapping has already been correct since there are only functional classification and sub-functional classification available within the dataset. The problem is illustrated in the screenshot below:

![image](https://user-images.githubusercontent.com/1597027/29921045-824e4f90-8e50-11e7-8b20-7b4c6144e5df.png)

In the treema

[2017-08-31 12:07] vitorbaptista commented on #16
@fathoni Could you check again? Also, to be clear, the path you took to get to that screen was:

1. Go to your admin page
2. Click on the "edit" buttom of one of your dataset

Is that right?

[2017-08-31 12:42] fathoni commented on #16
exactly! just checked and I still have the similar issue.

[2017-08-31 13:36] vitorbaptista commented on #16
@fathoni Let's talk about this issue on Gitter. I sent you a private message over there :v:

[2017-08-31 14:03] vitorbaptista commented on #16
After talking with @fathoni over Gitter, we discovered that the issue was that his browser cached a request. A hard refresh fixed the issue :+1:

[2017-08-31 14:04] pwalsh commented on #16
@vitorbaptista @fathoni great, so I'll close this, as it is not a bug.

[2017-08-31 14:04] #16 closed, assigned to nobody

[2017-08-31 15:26] pwalsh commented on #13
@vitorbaptista can you check if there is actually a bug here?

[2017-09-01 10:30] liyakun commented on #14
@larjohn For a long term, I think it is better to do this in DAM, as there is not always a max limit in real dataset but there is limitation in the hard and software on the server.

[2017-09-03 17:24] larjohn commented on #14
I agree

[2017-09-07 16:36] vitorbaptista commented on #13
@fathoni Sorry for the late reply. The negative values in your dataset is what's causing these weird visualizations. A treemap isn't a good visualization for mixing positive/negative values, the only way I can see it working would be if we used different colours to differentiate between positive/negative values, and drew the rectangles using the absolute values. Even doing that, the comparison of

[2017-09-07 16:38] skarampatakis opened #17 "Build error with DAM"
Trying to build the prod version I get this error
[code]

which fails the build

[2017-09-07 18:21] hantongliu commented on #17
@skarampatakis it's because the 3.17 version of PostgreSQL is out of date. You can change it to 3.18-0ubuntu0.14.04.1 or you have to wait for the update of the update of the makefile.

[2017-09-08 14:50] fathoni commented on #13
Thanks, Vitor, we also discussed with Paul yesterday regarding this. We agree that for the datasets that contain negative values (which apparently happens only in Bonn's case so far - or let me know if you found another case), tree map viz would be hidden. In the meantime in Bonn, we would also like to find a way to take care of this negative values. There is a lot more explanation actually for th

[2017-09-13 07:55] #13 closed, assigned to nobody

[2017-09-13 19:24] liyakun commented on #14
@larjohn I already adapted the upper limit in triple store, it should be fine now.

[2017-09-13 19:24] #14 closed, assigned to nobody

[2017-09-13 19:27] liyakun commented on #17
@skarampatakis @hantongliu This has been fixed in the [Makefile](https://github.com/openbudgets/DAM/blob/staging_indigo/Makefile) of DAM, it should be fine now.

[2017-09-13 19:27] #17 closed, assigned to nobody

[2017-09-18 10:33] skarampatakis opened #20 "Alignment Github callback"
@liyakun
There may be a misconfiguration on Github for the Alignment callback. Can you check this?

After I succesfully grant access, I get a redirect to
[code]

which is the wrong link.

[2017-09-18 11:13] liyakun commented on #20
@skarampatakis I checked on the server, if i am correct, this is setted in [.env](https://github.com/openbudgets/integration/blob/master/docker-config/alignment/.env), on the server, it is same as in github.

[2017-09-18 11:30] skarampatakis commented on #20
Yes you are correct. On the .env it is configured correctly. But is this the same on Github. Or maybe it is related with some caching on my client?

[2017-09-18 11:33] skarampatakis commented on #20
This is a part from the response header
[code]

[2017-09-18 13:15] liyakun commented on #20
@skarampatakis thanks, adapted Github callback, it should work now.

[2017-09-18 13:16] liyakun commented on #20
@skarampatakis I think it is better to use https ranther than http for auth, so I changed the call back to be https, how do you think?

[2017-09-18 13:22] skarampatakis commented on #20
I strongly agree but I don't know how to set it up with nginx and stuff. If you can handle it I have no objection.

[2017-09-18 13:36] liyakun commented on #20
@skarampatakis okay, great, I think we can allow user only use https, which is https://apps.openbudgets.eu/alignment/, I already configured https for alignment on nginx, it should be fine.

[2017-09-18 13:36] skarampatakis commented on #20
I have seen that you have already done this. Great! But I cannot create a new project on the App and have no access on the logs. Perhaps we should also mount the logs folder. It is on /var/www/alignment/storage/logs

[2017-09-18 13:38] liyakun commented on #20
@skarampatakis  i will mount the logs folder to alignment.

[2017-09-18 13:52] skarampatakis commented on #20
I see no errors on the logs. That probably means that it has no rights to write on the logs file. I will update the Dockerfile.

[2017-09-18 14:00] liyakun commented on #20
@skarampatakis before merge your changes to prod.yml of the logs, i mount the one at /volumes/alignment/logs to container, there are also two files on this folder, maybe it is helpful for you.

[2017-09-18 14:14] skarampatakis commented on #20
Can you try to refresh now? I still get not clue of what is happening. It should throw an error at least.

[2017-09-18 14:28] skarampatakis commented on #20
I have changed the listener user as I think this is the problem. Listener was running as root so every file it generates has owner the root. Please pull and refresh.

[2017-09-18 16:55] liyakun commented on #20
@skarampatakis alreay refreshed on the server.

[2017-09-18 18:24] skarampatakis commented on #20
It is working when I test locally. I don't know what is happening on the server. Please remove alignment volumes completely and rerun the initVolumes.sh script to set the correct permissions, and then refresh the server again. Perhaps removing cache items from the alignment image could fix this.

However the original issue is resolved so I think we could close this issue. Please inform when you ha

[2017-09-18 18:24] #20 closed, assigned to nobody

[2017-09-19 08:12] liyakun commented on #20
@skarampatakis I changed the access right to the shared folders by alignment, could you check again? I don't know what error you are trying to see, could you tell?

[2017-09-19 08:26] skarampatakis opened #21 "Alignment: Similarity Calculation Job fails to start"
It seems that the supervisor has some error and is not running. When I click on "Calculate similarities" button on the projects page, the configuration is created but then nothing happens. This is due to supervisor is not running.

[2017-09-19 08:29] skarampatakis commented on #20
Please check #21.

[2017-09-19 08:37] liyakun commented on #21
@skarampatakis I was updating the alignment docker, could you check again?

[2017-09-19 08:41] skarampatakis commented on #21
OK. Now it seems to be working as supposed. Thank you!

[2017-09-19 08:41] #21 closed, assigned to skarampatakis, liyakun

[2017-09-19 10:50] skarampatakis opened #22 "RDFBrowser: Landing page misconfiguration"
APP_URL is set to 0.0.0.0/RDFBrowser and the landing page isn't working as expected.

[2017-09-19 10:55] skarampatakis commented on #22
fixed on https://github.com/openbudgets/integration/commit/a74e3493ac22cac8a22342cfd59b9b457ad9f96e

[2017-09-19 10:55] #22 closed, assigned to nobody

[2017-09-19 11:48] seegerseeger opened #23 "RDFBrowser delivers no output"
http://data.openbudgets.eu/ contains two links:

http://0.0.0.0/RDFBrowser/browse/1
http://0.0.0.0/RDFBrowser/browse/2

Both URLs deliver empty outputs. Is this an issue with URL?
@larjohn @skarampatakis

[2017-09-19 17:05] skarampatakis commented on #23
This has been fixed on the latest update as seen on #22.

A refresh on the server is required however.

[2017-09-19 17:25] skarampatakis commented on #23
For instance, that is what should be expected

http://data.openbudgets.eu/browse/1

[2017-09-21 10:21] skarampatakis opened #24 "Rudolf logs are not updated on the volumes"
It seems that probably the volumes are not mounted so the logs are not accessible from outside the container.

However the logs seems to be updated on the container.

[2017-09-21 10:22] skarampatakis commented on #23
Fixed by the latest update.

[2017-09-21 10:22] #23 closed, assigned to nobody

[2017-09-21 10:24] skarampatakis opened #25 "Reduce LP instances on prod.yml"
Atm there are 5 LP instances. I think we can reduce the footprint by having just 2, one for the FDP2RDF pipeline and one for custom pipelines.

[2017-09-21 10:26] skarampatakis opened #26 "RDFBrowser: GD library missing"
Container is missing the library causing error on graph route.

[2017-09-25 09:58] #26 closed, assigned to nobody

[2017-09-25 14:24] VonNao opened #27 "RDF-utils Failure"
Hello everybody,

i got a problem with the rdf-utils plugin during linkedpipes.etl.rdf.utils.RdfBuilderTest

At the start of the reactor summary the rdf-utils gets a failure status and the whole maven deployment ends with the "Builf failure" message.

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.20.1:test (default-test) on project rdf-utils: There are test failu

[2017-09-27 16:55] larjohn opened #28 "Integrated OpenCPU returns different results"
@kleanthisk10 after OpenCPU was integrated, the result of descriptive statistics is different. It does not contain some histogram attributes anymore.

Do you know if it is an issue with some library that is on an older version?

[2017-09-27 17:11] skarampatakis commented on #28
Please delete previous image "okgreece/opencpu-docker-obeu" and build again. It seems that the updating function was not working correcty, so some updates are not included.

Also please note that I have made some changes on the proxy configuration removing the second "/ocpu" on the url. So please update DAM and Indigo where needed. I have also included a script to trigger the update. But in any ca

[2017-09-27 17:37] larjohn commented on #28
Indigo does not store URLs, they are retrieved from DAM. So DAM and the docker stuff should be updated to reflect changes.

[2017-09-27 20:41] kleanthisk10 commented on #28
@larjohn yes indeed, it's not an issue, that 's the last update of the library, more simple results for histograms!

[2017-09-28 13:24] skarampatakis commented on #28
Currently it is not working because the URL is wrong. It adds another /ocpu after the domain name.

[2017-09-28 15:50] liyakun commented on #27
@VonNao I am not clear about how you trigger `inkedpipes.etl.rdf.utils.RdfBuilderTest`, could you provide more information about how thoese errors are triggered? thanks and sorry for delay in replying.

@fathoni Could you have a look at this issue? thanks.

[2017-09-29 07:38] VonNao commented on #27
Hello @liyakun ,
hello @fathoni ,

thank you for your help.

We cloned the github repository to our local CentOS system which runs docker and docker-compose.
After that we started creating the needed directories/volumes with the script „initVolumes.sh“ which was included in the repository.

This part worked without any problem.
In the next step we renamed the env.example file to .env so that the „

[2017-09-29 08:21] liyakun commented on #28
@skarampatakis because you changed the setting of Nginx to opencpu docker, anyway, it works now.

[2017-09-29 08:26] skarampatakis commented on #28
@liyakun I could not change the configuration on DAM because it was hardcoded on the DAM repo.

[2017-09-29 09:32] liyakun commented on #24
@skarampatakis thanks for the report, I think we can close this issue, as the refreshCache log file has been added to the shared volume.

[2017-09-29 09:41] skarampatakis commented on #24
@liyakun thanks

[2017-09-29 09:41] #24 closed, assigned to nobody

[2017-09-29 13:48] skarampatakis commented on #28
Can we close this now?

[2017-09-29 13:48] skarampatakis commented on #25
@liyakun Any progress or decision on this?

[2017-09-29 13:50] skarampatakis commented on #9
Just checked and seems to be fixed now. Thanks!

[2017-09-29 13:50] #9 closed, assigned to skarampatakis

[2017-09-29 13:53] skarampatakis commented on #5
Just checked on both mentioned browsers and I get the same picture so I think we can close this now. Please reopen if this is not the case.

[2017-09-29 13:53] #5 closed, assigned to nobody

[2017-09-29 13:54] skarampatakis commented on #12
@fathoni Is this still an issue on OBEU server?

[2017-09-29 13:57] skarampatakis commented on #27
I think this is an error from the LinkedPipes build so maybe @jakubklimek could have a look.

[2017-09-29 14:00] liyakun commented on #25
@skarampatakis I have not work on this, but you are right, it is better to remove some of them. I will work on this asap.

[2017-09-29 14:23] skarampatakis commented on #25
Great. Please close this when ready.

[2017-09-29 14:45] liyakun commented on #25
Done.

[2017-09-29 14:45] #25 closed, assigned to nobody

[2017-09-29 15:30] skarampatakis commented on #27
I can confirm that it happens the same also to me when try to bring up the server with docker-compose.

[2017-09-29 16:27] skarampatakis commented on #27
And managed to build it by skipping the tests on maven install.

[2017-09-29 16:28] skarampatakis opened #29 "Minimum requirements"
What are the minimum system requirements for a complete deployment?

[2017-09-30 05:39] skarampatakis opened #30 "Virtuoso staging vs VIrtuoso production"
There seems to be two virtuoso servers running. But the production one is barely used, just mentioned on the prod. Is it required or should we remove it?

[2017-09-30 05:42] skarampatakis opened #31 "Virtuoso staging eats up system resources"
Atm virtuoso staging is configured with the 16GB memory configuration. This may lead to system freeze when host is on low specs. I think it should be documented so users could take care before deployment.

[2017-09-30 05:47] skarampatakis opened #32 "virtuoso_staging_old"
Is this used somewhere?

[2017-09-30 07:05] skarampatakis opened #33 "Build Error on microsite"
Tried to bring up the latest version of the platform and stuck here
[code]

[2017-09-30 10:43] liyakun commented on #33
@skarampatakis thanks a lot for reporting the issues. I think this is because of the shared volumes, I will check.

[2017-09-30 10:54] skarampatakis commented on #33
My bad. You are correct. I forgot to run the initVolumes.sh script since it was a build from scratch.
I deleted the volumes folder and run the script and then again the refresh script.
I have now built the platform correctly. Thank you!

[2017-09-30 10:54] #33 closed, assigned to nobody

[2017-09-30 11:04] liyakun commented on #33
@skarampatakis no problem, thank you, it is good that you are able to build the platform correctly.

[2017-09-30 11:26] liyakun commented on #29
thanks, I added hardware recommendations to the [README.md](https://github.com/openbudgets/integration/blob/master/README.md) file according to the hardware specifications in [OEBU platform](http://apps.openbudgets.eu/).

For the minimum system requirements, i will check the resource usage on the server.

[2017-10-01 07:48] skarampatakis opened #34 "Microsite: cannot add user"
There seems to be an error when try to add a new user through django admin page. Javascript is returned.

https://apps.openbudgets.eu/microsite/admin/auth/user/add/

[2017-10-01 08:22] skarampatakis commented on #34
The same does not happen on local deployment. Maybe an interference with nginx conf and OS Admin? I had a similar behavior with the KPIs app where the admin page could not be loaded correctly and instead OS Admin were brought up.

[2017-10-02 07:24] liyakun commented on #34
@skarampatakis I don't have the login credential to the admin page, @pierorex could you have a look of this issue?

[2017-10-02 07:32] liyakun commented on #32
I checked that it is not used, already removed from the docker stack, thanks.

[2017-10-02 07:32] #32 closed, assigned to nobody

[2017-10-02 07:37] skarampatakis commented on #34
It is on the .env on the integration folder on Fhg. I used it yesterday
and the login works.

Στις 2 Οκτ 2017 10:24, ο χρήστης "Yakun Li" <notifications@github.com>
έγραψε:

[2017-10-02 07:42] liyakun commented on #34
@skarampatakis thanks, i tried before with the username and password which did not work for me, tried with email and password, it works, thanks.

[2017-10-02 13:10] liyakun commented on #31
@skarampatakis you mean for `MaxQueryMem`, right?

[2017-10-04 14:52] liyakun commented on #30
@skarampatakis It was planned to use 2 different Virtuoso instances on our platform: Staging & Production but so far only Staging has been used. You can remove Production version.

[2017-10-04 15:10] liyakun commented on #29
@skarampatakis I checked the deployment of the docker stack on one ubuntu 16.04 within a virtualbox virtual machine. The system resource useage is as follows:

1. Single Intel i7-7700HQ 2.80GHz CPU core
2. 2.7 GB Memory usage out of 4GB
3. 224 MB Swap usage out of 4Gb
4. 20 GB disk usage out of 97Gb

Of course, those are the usages without performing any operation(except very small browsing) with

[2017-10-04 15:10] #29 closed, assigned to nobody

[2017-10-04 15:16] #30 closed, assigned to nobody

[2017-10-04 16:10] liyakun commented on #27
@VonNao I already updated the docker file to skip the maven tests, it should build without test problems now. BTW, we are going to work on testing the platform replica on our own server, so the documentation may be updated frequently on [README.md](https://github.com/openbudgets/integration/blob/master/README.md).

[2017-10-05 07:12] liyakun commented on #31
@skarampatakis thank you very much for the report, I already documented this at the [README.md](https://github.com/openbudgets/integration/blob/master/README.md).

[2017-10-05 07:12] #31 closed, assigned to nobody

[2017-10-05 09:09] fathoni commented on #12
The proper label has appeared in the OBEU server.

[2017-10-05 09:09] #12 closed, assigned to nobody

[2017-10-05 09:56] liyakun commented on #34
@skarampatakis I already removed OS-admin from OBEU docker stack, so it should not be a problem of it. I think maybe some setting in Nginx, but not clear how to fix it still. @hantongliu Could you have a look at this issue when you are available?

[2017-10-05 09:57] skarampatakis commented on #34
Why you removed OS admin? Isn't needed for the FDP2RDF pipeline?

[2017-10-05 10:07] liyakun commented on #34
@skarampatakis for FDP2RDF pipeline, it uses OS admin hosted on OpenSpending.

[2017-10-06 07:25] liyakun commented on #34
@skarampatakis it turns out that the Nginx configuration of Rudolf rewrites this path to one Javascript file.

[2017-10-06 07:25] #34 closed, assigned to hantongliu, liyakun, pierorex

[2017-10-09 07:52] VonNao commented on #27
@liyakun Thank you very much for your help. This time it worked without any problems :)!

[2017-10-10 07:50] VonNao opened #35 "SQL-Exception when visiting the port 80 application"
Hello everyone,

after running **refresh_and_restart_prod.sh** script and finnishing all deployments i get the following error when visiting the webpage.

QueryException in Connection.php line 729:
SQLSTATE[HY000]: General error: 1 no such table: resource_classes (SQL: select * from "resource_classes" where "enabled" = 1)

Did i miss something in regard to the databasedeployment?

Thank you very m

[2017-10-10 09:30] #27 closed, assigned to nobody

[2017-10-11 13:44] #35 closed, assigned to nobody

[2017-10-11 13:46] skarampatakis commented on #35
Hello,
Could you please check again and report if there is any issue? There was some migrations missing from the database.

[2017-10-20 15:44] larjohn opened #36 "Error in JSON encoding"
I have received the following bug report recently:

(return Error: 0)

It is caused by a NAN (not a number) being literally dumped as-is by PHP's json_encode function. NAN is a valid structure in PHP, but it has no valid meaning in a JSON serialization.

PHP [docs ](http://php.net/manual/en/json.constants.php) state that there is a constant to provide as an option so that INF (infinity) and NAN (n

[2017-10-20 15:58] larjohn commented on #36
@HimmelStein (i think it was your bug report) can you check why this observation:
`
DESCRIBE <http://data.openbudgets.eu/resource/dataset/bonn-budget-2022-PSPelement/observation/10>
`
has a NAN amount value, that causes the bug above?

[2017-10-23 07:48] fathoni commented on #36
Hi @larjohn , in the dataset, there is no NaN value for the mentioned observation. In the [dump](https://apps.openbudgets.eu/dumps/bonn/Bonn_Budget_2022-PSPelement.ttl) turtle file, the observation looks like this:

[code]

[2017-10-23 08:50] HimmelStein commented on #36
@larjohn I checked the raw csv file, as well as the turtle file. Can you check whether the following format causes the NaN value?
`obeu-measure:amount "-2.7699888E7"^^xsd:float ;`

[2017-10-23 13:28] liyakun opened #37 "Will the changed regex influence the software?"
https://github.com/openbudgets/integration/blob/1cf1ce7d7e4e8bf38b0a1a7a34431d8b2a1a6f01/docker-config/nginx/conf/includes/locations/okgr_apps.conf#L17

Hi @larjohn , I changed the above regex matching because there is a conflict between the original pattern with the url path of microsite, do you think this will influence the behavior of other softwares? thanks.

[2017-10-23 14:04] hantongliu opened #38 "Wrong Link"
Hi @larjohn , when I create an OBEU instance using another server, the tags in Indigo still link to apps.openbudgets.eu.

[2017-10-25 12:50] liyakun commented on #36
@larjohn @HimmelStein updated Rudolf docker image to a newer (7.1) version, the following link works.

http://apps.openbudgets.eu/cube/analytics/bonn-budget-2022-PSPelement__2603c/descriptive_statistics/facts?amounts=amount&dimensions=operationCharacter.prefLabel%7CprofitCenter.prefLabel%7CbusinessArea.prefLabel%7CeconomicClassification.prefLabel%7Corganization.organization&json_data=http%3A%2F%2F

[2017-10-25 20:02] HimmelStein commented on #36
@larjohn Indigo seems not working properly http://apps.openbudgets.eu -- Slow and sometimes datasets or data-mining functions do not prompt out . Can you have a check?

for example http://apps.openbudgets.eu/cube/analytics/bonn-budget-2022-internalOrder__f31cf

http://apps.openbudgets.eu works, if we first visit
http://apps.openbudgets.eu/search/package?q=%22%22&size=100&from=0

[2017-10-25 21:24] larjohn commented on #36
@HimmelStein you have included conditions inside the configurations node, whereas it should be included as single condition per related configuration. Right now conditions is considered as another configuration and it lacks inputs, that's why it fails.

[2017-10-25 21:27] larjohn commented on #38
This is because indigo was heavily themed to be the apps frontpage. So it has the project's footer right now. @seegerseeger might have a suggestion to resolve this.

[2017-10-25 21:30] larjohn commented on #37
If authentication in OS Viewer works, then it shouldn't be an issue

[2017-10-25 21:30] #28 closed, assigned to larjohn

[2017-10-26 07:31] liyakun commented on #37
@larjohn thanks, OS Viewer on FHG server works fine, so I assume it has no problem.

[2017-10-26 07:31] #37 closed, assigned to liyakun

[2017-10-26 08:43] HimmelStein commented on #36
@larjohn @liyakun  @wk0206
Please type 'Bonn' at 'Find a Dataset' field of http://apps.openbudgets.eu/ , nothing happens
and type 'Aragon' at 'Find a Dataset' field of http://apps.openbudgets.eu/, aragon datasets will be listed. Select one aragon dataset, and click 'Analyse', the data-mining functions are not listed.

what is the efficient way to fix these problem?

[2017-10-26 08:56] liyakun commented on #36
![image](https://user-images.githubusercontent.com/7370334/32043923-5b9fcd2a-ba3c-11e7-9e99-1fbbe1eb63aa.png)
I don't have this problem for dataset search.

[2017-10-26 08:59] liyakun commented on #36
![image](https://user-images.githubusercontent.com/7370334/32044025-b00dc178-ba3c-11e7-9bc5-9e11df6dd496.png)
the analysis problem happens to me as well

[2017-10-26 09:01] HimmelStein commented on #36
@liyakun I tested with firefox and chrome. Response of firefox is slower than of chrome.
data-mining tools are not listed (the same as your case).

[2017-10-26 09:03] HimmelStein commented on #36
typing 'Bonn' at 'Find a Dataset' field of http://apps.openbudgets.eu/, it takes much longer time to get response than by typing 'Aragon', although there are only 4 Bonn datasets.

[2017-10-26 09:04] liyakun commented on #36
@HimmelStein @larjohn I also use Firefox. It seems the analysis already load everything without problems.
![image](https://user-images.githubusercontent.com/7370334/32044269-68c43436-ba3d-11e7-8018-93c395e9f1bf.png)

[2017-10-26 09:11] HimmelStein commented on #36
@larjohn can you have a quick look where the problem is?

[2017-10-30 15:19] skarampatakis commented on #36
@larjohn please look at this ASAP.

[2017-10-30 15:39] seegerseeger commented on #38
hi @larjohn, I sadly do not have an idea how to fix this, could it be part of the readme that the links need to be adapted when the server is cloned?

[2017-10-30 15:44] skarampatakis commented on #38
@larjohn

I think these are the links need to be changed since they are hardcoded. However some of them I'm not sure where they should pointing to, let say the "Blog" link.

https://github.com/okgreece/indigo/blob/cutting-edge/src/app/components/layout.ts

https://github.com/okgreece/indigo/blob/master/src/app/containers/cube/upload.ts

[2017-11-01 21:43] larjohn commented on #36
I cannot reproduce the dataset search issue. On the other hand, the analysis algorithms should be visible if you resolve [this](https://github.com/openbudgets/integration/issues/36#issuecomment-339476388).

Which means you have to move the `conditions` node from the `configurations` node of the `timeseries` algorithm into the `aggregate` configuration of the `timeseries` algorithm (it should be a

[2017-11-01 21:47] skarampatakis commented on #36
@larjohn could you elaborate more on https://github.com/openbudgets/integration/issues/36#issuecomment-339476388 as it seems there is some kind of confusion.

[2017-11-01 21:55] HimmelStein commented on #36
@larjohn @liyakun @hantongliu @wk0206 I tried with Chrome, selecting and loading dataset is fine, and also fast. But, data-mining functions are still not listed.

[2017-11-01 22:25] larjohn commented on #38
This:
![image](https://user-images.githubusercontent.com/1288985/32300901-4cf6b0e0-bf64-11e7-85b6-4b3a39f1589f.png)

[2017-11-01 22:26] larjohn commented on #36
This:

![image](https://user-images.githubusercontent.com/1288985/32300935-6f4da5a4-bf64-11e7-89bb-8365585e51e9.png)

[2017-11-01 22:58] wk0206 commented on #36
updated dam.json for last comment.
[commit](https://github.com/openbudgets/DAM/commit/5875f00580a71d142254192a24502c52530c89aa)

[2017-11-02 08:17] liyakun commented on #36
@HimmelStein @larjohn @wk0206 @skarampatakis after updating dam to last commit, it works fine now.

[2017-11-02 09:49] HimmelStein commented on #36
please do more testing. My side, it works once. does the following link work on your side?
`http://apps.openbudgets.eu/cube/analytics/bonn-budget-2022-internalOrder__f31cf/outlier_detection/LOF_FACTS?BABBAGE_FACT_URI=http%3A%2F%2Fapps.openbudgets.eu%2Fapi%2F3%2Fcubes%2Fbonn-budget-2022-internalOrder__f31cf%2Ffacts%3F&coloringAttribute=profitCenter.prefLabel&groupingAttribute=economicClassification

[2017-11-02 09:51] skarampatakis commented on #36
@HimmelStein It seems to be working from here. Perhaps a caching problem? Please clear your browser cache

![image](https://user-images.githubusercontent.com/2419820/32319694-1d9fad5a-bfc4-11e7-9de2-0e4f050ccec7.png)

[2017-11-02 09:53] HimmelStein commented on #36
yes, I got this graphic for the first time. can you do it again?

[2017-11-02 10:05] skarampatakis commented on #36
You are right, after a reload I get the following error on my console

![image](https://user-images.githubusercontent.com/2419820/32320112-6d49c984-bfc5-11e7-85ab-c9616893dc34.png)

[2017-11-02 12:23] larjohn commented on #36
Most probably because this response looks like a weird matrsoka doll:

![image](https://user-images.githubusercontent.com/1288985/32325878-6c011564-bfd9-11e7-9275-4bf366955563.png)

[2017-11-03 10:30] hantongliu commented on #38
@larjohn @seegerseeger @skarampatakis , thanks for the help! Now problem is solved. I'll close this issue.

[2017-11-03 10:30] #38 closed, assigned to nobody

[2017-11-05 09:58] HimmelStein commented on #36
@larjohn please check where is the problem when loading datasets through http://apps.openbudgets.eu/

[2017-11-18 10:00] skarampatakis opened #39 "Virtuoso docker image tag not found"
Platform fails to build on virtuoso_staging(and perhaps on production also).

I tried to build only the staging container with failure:
[code]
Then I looked on the tenforce repo and realy there is no such tag.

Perhaps we should change the image tag to
[code]

[2017-12-19 07:28] skarampatakis opened #40 "Virtuoso down"
It seems that #39 may relate with this. @liyakun could you check? Virtuoso seems to be unreachable

http://data.openbudgets.eu/sparql

[2018-01-02 12:37] annafralberts commented on #40
is this fixed?

Would be good to keep the system up and running for a while :)

On 19 December 2017 at 08:28, Sotirios Karampatakis <
notifications@github.com> wrote:

--
Anna Alberts, Project Manager OpenBudgets.eu
Open Knowledge Foundation Germany
www.okfn.de | info@okfn.de | @okfde
anna.alberts@okfn.de <info@okfn.de> | @Anna_Alberts
Office: +49 30 57703666 0

[2018-01-02 14:17] liyakun commented on #40
@skarampatakis @annafralberts thanks for your report and sorry for delay in replying. It was caused by the overly used system resources on the fhg server. After restarting the server, the sparql end point works fine now.

[2018-01-02 14:17] #40 closed, assigned to nobody

[2018-01-02 14:20] liyakun commented on #39
Hi @skarampatakis , thanks for reporting, the docker container on the platform was build(most likely before the tag was removed) without this problem, I will check whether rebuild docker would produce this issue.

[2018-01-05 13:11] VonNao opened #41 "refresh_and_restart_prod.sh failling while building damapp"
Hello,

after updating our host-OS we get the following error message while restarting openbudget.

Get:6 http://us.archive.ubuntu.com/ubuntu/ trusty-updates/main python3-tk amd64 3.4.3-1~14.04.2 [23.5 kB]
Err http://us.archive.ubuntu.com/ubuntu/ trusty-updates/main idle-python3.4 all 3.4.3-1ubuntu1~14.04.5
  404  Not Found [IP: 91.189.91.23 80]
Get:7 http://us.archive.ubuntu.com/ubuntu/ trusty/ma

[2018-01-09 15:38] skarampatakis commented on #39
I can confirm that trying to bring up a fresh instance fails to build on the virtuoso_staging container. Replacing the image tag with ```1.3.1-virtuoso7.2.4``` fixes the problem.

[2018-02-12 10:08] skarampatakis opened #43 "Failed to build indigo"
[code]

[2018-02-14 22:15] larjohn commented on #43
Is this also happening on the Fraunhofer server?

[2018-02-15 06:16] skarampatakis commented on #43
Can't check. But I think it is caused because I brought up the server on host behind a proxy. Every other service was built with no problem. I tried comment out the key lines but it fails again. Could we somehow configure the docker for dealing with the proxy?

I believe this will cause also problem with ssl settings and keygen.

[2018-02-15 11:48] fathoni commented on #43
Unfortunately, I can't help with this, Yakun is on holiday until March 5. Unsure if @hantongliu would be able to help with this from FhG.

[2018-03-23 18:56] liyakun commented on #41
@VonNao sorry for late reply, the problem should have been solved by https://github.com/openbudgets/integration/commit/26365f940d1626fd1a3d1544b2f6c7f2c4ea2fb4

[2018-03-23 18:56] #41 closed, assigned to liyakun